body {
    margin: 0px;
    background-color: #3A3B3C;
}

.highlight-check {
    box-shadow: inset 0 0 2px 2px rgba(128, 0, 0);
}

.highlight-last-move {
    box-shadow: inset 0 0 2px 2px rgba(11, 128, 0);
}

.board {
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
}

.bounds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.lichess-logo {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}
